<div id="forgot-password" fxLayout="column">

  <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <div id="forgot-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
      <div class="title">RESET YOUR PASSWORD</div>

      <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-icon matSuffix class="secondary-text">mail</mat-icon>
          <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        <!--
        <div *ngIf="resetLinkSent" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
          <span style="color: #4CAF50" class="text">Reset password link sent!</span>
        </div>
        <div *ngIf="resetLink404" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
          <span style="color: #f44336" class="text">Email does not exist!</span>
        </div>
      -->
        <button mat-raised-button class="submit-button" color="accent"
                aria-label="SEND RESET LINK"
                [disabled]="forgotPasswordForm.invalid"
                (click)="sendResetLink()">
          SEND RESET LINK
        </button>
        <div class="register" fxLayout="column" fxLayoutAlign="center center">
          <span class="text">Back to <a class="link" [routerLink]="'/login'">Login</a></span>
        </div>
      </form>

    </div>

  </div>

</div>
